.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.roulette-table-wrapper {
  width: 1100px;
  height: 400px;
  background-color: #00813d;
  border-radius: 20px;
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.roulette-wheel-wrapper {
  width: 35%;
  height: 100%;
  position: relative;
}
.roulette-wheel {
  width: 100%;
  object-fit: contain;
  /* animation-name: rotateRoulette;
  animation-iteration-count: infinite;
  animation-duration: 5000ms;
  animation-timing-function: ease-out; */
  position: absolute;
  transition-timing-function: ease-out;
  /* transition-duration: 500ms; */
}

.roulette-ball {
  width: 100%;
  object-fit: contain;
  position: absolute;
  animation-name: rotateBall;
  animation-iteration-count: infinite;
  animation-duration: 5000ms;
  animation-timing-function: ease-out;
  position: absolute;
}

@keyframes rotateRoulette {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(720deg);
  }
}

@keyframes rotateBall {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(1240deg);
  }
}
.roulette-table {
  width: 60%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('images/roulette-table.jpg');
}
