.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.mobile-unable {
  display: none;
  width: 100%;
  height: 100%;
}

.roulette-table-wrapper {
  max-height: calc(100% - 150px);
  width: 90vw;
  max-width: 1200px;
  background-image: url(images/felt_texture.jpg);
  background-size: 60%;
  border-radius: 50px;
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 25px 5px black;
  box-sizing: border-box;
}

.roulette-left-col {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.roulette-right-col {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.roulette-wheel-wrapper {
  height: 100%;
  width: 40%;
  position: relative;
}
.roulette-wheel {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  position: relative;
  transition-timing-function: ease-out;
}

.roulette-ball {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  transition-timing-function: ease-out;
}

@keyframes rotateRoulette {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(720deg);
  }
}

@keyframes rotateBall {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(1240deg);
  }
}
.roulette-table {
  max-height: 100%;
  width: 55%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('images/roulette-table.png');
  aspect-ratio: 2.5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.zero-col {
  width: 6.5%;
  height: 60%;
  position: relative;
  cursor: pointer;
}
.normal-col {
  width: 86.5%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.ending-col {
  width: 7%;
}
.roulette-table-row {
  width: 100%;
  height: 14.2857142857%;
  display: flex;
  flex-direction: row;
}
.roulette-table-row > div {
  width: 4.08%;
  cursor: pointer;
  position: relative;
}
.ending-col > div {
  width: 100%;
  height: 20%;
  cursor: pointer;
  position: relative;
}
.roulette-table-row-thirds > div {
  width: calc(100% / 3);
  cursor: pointer;
  position: relative;
}
.roulette-table-row-thirdHalves > div {
  width: calc(100% / 6);
  cursor: pointer;
  position: relative;
}
.roulette-table-row > div:hover:before,
.ending-col > div:hover:before,
.zero-col:hover:before,
.roulette-table-row-thirdHalves > div:hover:before,
.roulette-table-row-thirds > div:hover:before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: rgba(61, 255, 61, 0.658);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  left: 50%;
}
.roulette-table-row > div:last-child {
  width: calc(100% - (23 * 4.08%));
}
.roulette-table-row-upper {
  width: 100%;
  height: 70%;
  position: absolute;
  margin-top: -2%;
}
.roulette-table-row-lower {
  height: 40%;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.roulette-table-row-thirds,
.roulette-table-row-thirdHalves {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  padding-left: 2%;
  box-sizing: border-box;
}

.normal-col > tr > td {
  width: calc(100% / 24);
}

.chips-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.chips-wrapper > div {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: all ease-in-out 0.15s;
}
.chips-wrapper > div:hover {
  box-shadow: 0px 0px 5px 3px lime;
  transition: all ease-in-out 0.15s;
  transform: scale(1.1);
}

#chip-1 {
  background-image: url('images/chip_1.png');
}
#chip-5 {
  background-image: url('images/chip_5.png');
}
#chip-25 {
  background-image: url('images/chip_25.png');
}
#chip-100 {
  background-image: url('images/chip_100.png');
}
#chip-500 {
  background-image: url('images/chip_500.png');
}

.activeChip {
  box-shadow: 0px 0px 5px 3px white;
}

.roulette-footer {
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 150px;
  margin-top: 30px;
  background-color: rgba(50, 9, 68, 0.8);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
  .mobile-unable {
    display: flex;
    flex-direction: column;
    width: 90vw;
    background-color: #00813d;
    border-radius: 20px;
    height: calc(100vh - 230px);
    padding: 30px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
  }
  .mobile-phone {
    height: 50px;
    width: 100px;
    border: 3px solid white;
    border-radius: 10px;
    animation: rotatePhone 1.5s ease-in-out infinite alternate;
    /* display: none; */
  }
  @keyframes rotatePhone {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(-90deg);
    }
    100% {
      transform: rotate(-90deg);
    }
  }
  .mobile-unable > h2 {
    text-align: center;
    padding-top: 50px;
  }
  .roulette-table-wrapper {
    display: none;
  }
}
@media only screen and (max-width: 768px) and (orientation: portrait) {
}
