.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.mobile-unable {
  display: none;
  width: 100%;
  height: 100%;
}
.roulette-table-border {
  max-height: calc(100% - 150px);
  width: 90vw;
  max-width: 1200px;
  background-color: #302014;
  padding: 7px;
  border-radius: 55px;
  box-shadow: 0px 0px 25px 5px black;
}
.roulette-table-wrapper {
  height: 100%;
  width: 100%;
  background-image: url(images/felt_texture.jpg);
  background-size: 60%;
  border-radius: 50px;
  padding: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  position: relative;
}
.roulette-left-col {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.roulette-right-col {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.roulette-wheel-wrapper {
  height: 100%;
  width: 40%;
  position: relative;
}
.roulette-wheel {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  position: relative;
  transition-timing-function: ease-out;
}
.roulette-ball {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  transition-timing-function: ease-out;
}

@keyframes rotateRoulette {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(720deg);
  }
}

@keyframes rotateBall {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(1240deg);
  }
}

.roulette-numbers {
  width: 100%;
  height: 50px;
  margin-bottom: 50px;
  background: linear-gradient(90deg, #cdc08e 0%, #f2f4ce 100%);
  border: 4px solid #603813;
  box-shadow: inset 1px 1px 4px 2px rgb(0 0 0 / 70%);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.pastnumber-wrapper {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pastnumber-wrapper > div {
  width: 80%;
  max-width: 2rem;
  justify-content: center;
  display: flex;
  font-size: 1.3rem;
  font-weight: 800;
  align-items: center;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  box-sizing: border-box;
}

.pastnumber-green {
  border-color: green;
  color: green;
}

.pastnumber-black {
  border-color: black;
  color: black;
}
.pastnumber-red {
  border-color: red;
  color: red;
}

.roulette-right {
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.roulette-fields {
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('images/roulette-table.png');
  aspect-ratio: 2.5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 100%;
}
.zero-col {
  width: 6.5%;
  height: 60%;
  position: relative;
  cursor: pointer;
}
.normal-col {
  width: 86.5%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.ending-col {
  width: 7%;
}
.roulette-table-row {
  width: 100%;
  height: 14.2857142857%;
  display: flex;
  flex-direction: row;
}
.roulette-table-row > div {
  width: 4.08%;
  cursor: pointer;
  position: relative;
}
.ending-col > div {
  width: 100%;
  height: 20%;
  cursor: pointer;
  position: relative;
}
.roulette-table-row-thirds > div {
  width: calc(100% / 3);
  cursor: pointer;
  position: relative;
}
.roulette-table-row-thirdHalves > div {
  width: calc(100% / 6);
  cursor: pointer;
  position: relative;
}

.bet-1::before,
.bet-5::before,
.bet-25::before,
.bet-100::before,
.bet-500::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url('images/chip_1.png');
  background-size: contain;
  z-index: 155;
  width: 30px;
  height: 30px;
  z-index: 5;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.bet-1::before {
  background-image: url('images/chip_1.png');
}
.bet-5::before {
  background-image: url('images/chip_5.png');
}
.bet-25::before {
  background-image: url('images/chip_25.png');
}
.bet-100::before {
  background-image: url('images/chip_100.png');
}
.bet-500::before {
  background-image: url('images/chip_500.png');
}

.roulette-table-row > div:hover::after,
.ending-col > div:hover:after,
.zero-col:hover:after,
.roulette-table-row-thirdHalves > div:hover:after,
.roulette-table-row-thirds > div:hover::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: rgba(61, 255, 61, 0.658);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  left: 50%;
  z-index: 10;
}
.roulette-table-row > div:last-child {
  width: calc(100% - (23 * 4.08%));
}
.roulette-table-row-upper {
  width: 100%;
  height: 70%;
  position: absolute;
  margin-top: -2%;
}
.roulette-table-row-lower {
  height: 40%;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.roulette-table-row-thirds,
.roulette-table-row-thirdHalves {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  padding-left: 2%;
  box-sizing: border-box;
}

.normal-col > tr > td {
  width: calc(100% / 24);
}

.chips-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.chips-wrapper > div {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: all ease-in-out 0.15s;
}
.chips-wrapper > div:hover {
  box-shadow: 0px 0px 5px 3px lime;
  transition: all ease-in-out 0.15s;
  transform: scale(1.1);
}

#chip-1 {
  background-image: url('images/chip_1.png');
}
#chip-5 {
  background-image: url('images/chip_5.png');
}
#chip-25 {
  background-image: url('images/chip_25.png');
}
#chip-100 {
  background-image: url('images/chip_100.png');
}
#chip-500 {
  background-image: url('images/chip_500.png');
}

.activeChip {
  box-shadow: 0px 0px 5px 3px white;
}

.roulette-footer {
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 150px;
  margin-top: 30px;
  background-color: rgba(50, 9, 68, 0.8);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.footer-balance {
  font-size: 1rem;
  line-height: 1rem;
}
.footer-element-wrapper {
  text-align: end;
  width: 33%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}
.footer-element-wrapper > h2 {
  font-size: 2rem;
}
.footer-button-wrapper {
  width: 33%;
}
.reset-bets {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  background-color: #7e04b2;
  border: none;
  box-shadow: 0px 0px 8px 0px black;
  background-image: url('images/reset_icon.png');
  background-position: center top 8px;
  background-size: 20px;
  background-repeat: no-repeat;
  transition: all ease-in-out 0.15s;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.reset-bets:hover {
  transform: scale(1.1);
  transition: all ease-in-out 0.15s;
}

.inactive-btn {
  color: lightgrey;
  background-color: rgba(128, 128, 128, 0.486);
  transition: none;
  cursor: initial;
}
.inactive-btn:hover {
  transform: none;
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
  .mobile-unable {
    display: flex;
    flex-direction: column;
    width: 90vw;
    background-color: #00813d;
    border-radius: 20px;
    height: calc(100vh - 230px);
    padding: 30px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
  }
  .mobile-phone {
    height: 50px;
    width: 100px;
    border: 3px solid white;
    border-radius: 10px;
    animation: rotatePhone 1.5s ease-in-out infinite alternate;
    /* display: none; */
  }
  @keyframes rotatePhone {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(-90deg);
    }
    100% {
      transform: rotate(-90deg);
    }
  }
  .mobile-unable > h2 {
    text-align: center;
    padding-top: 50px;
  }
  .roulette-table-wrapper {
    display: none;
  }
}
@media only screen and (max-width: 768px) and (orientation: portrait) {
}
