@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Rubik&display=swap');

h1 {
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 68px;
  line-height: 86px;
  margin: 0;
  color: #ffffff;
}

h2 {
  font-family: 'Oswald';
  font-weight: 400;
  margin: 0;
  color: #ffffff;
}

p {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 24px;
  line-height: 45px;
  margin: 0;
  color: #ffffff;
}

body {
  width: 100vw;
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(65, 15, 84, 1) 100%);
}
.App {
  height: 100svh;
  width: 100vw;
}

.large-button {
  width: 200px;
  height: 80px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  background-color: #7e04b2;
  font-size: 28px;
  font-family: 'Oswald';
  font-weight: 400;
  border-radius: 5px;
  box-shadow: 0px 0px 15px 0px black;
  transition: all ease-in-out 0.15s;
}

.large-button:hover {
  transform: scale(1.1);
  transition: all ease-in-out 0.15s;
}

@media only screen and (max-width: 1024px) {
  .large-button {
    width: 150px;
  }
  h2 {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 48px;
    line-height: 66px;
  }

  p {
    font-size: 20px;
    line-height: 38px;
  }
  h2 {
    font-size: 2rem;
  }
}
